<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>練習</title>
</head>
<body>
    <div id="app">
        <h1>TODOリスト</h1>
        
            
                <input type="radio" v-bind:value="optionsLabel[0].value" v-model="Do">
                {{ optionsLabel[0].label }}　<!--optionLabelのvalueが０ではなく、0番目のこと-->
                <input type="radio" v-bind:value="optionsLabel[1].value" v-model="Do">
                {{ optionsLabel[1].label }}
                <input type="radio" v-bind:value="optionsLabel[2].value" v-model="Do">
                {{ optionsLabel[2].label }}
                （{{todos.length}} 件を表示）
                
                <table>
                    <thead>
                        <tr>
                            
                            <th>コメント</th>
                            <th>状態</th>
                            <th>--</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="todo in computedTodos">　　<!--　v-forはcomputedのcomputedTodosを指定することができる-->
                            <td>{{todo.comment}}</td>　　　　　<!--computedでいくつかのtodoの内容をタブごとにできる。-->
                            <td>
                                <button v-on:click="ChangeTodo(todo)">
                                    <span v-if="todo.statetus === 0">作業中</span>  <!--要はtodo事のstatetusが0なら作業中のボタンが出る-->
                                    <span v-if="todo.statetus === 1">完了</span>　　<!--切り替えるのはv-ifの機能ではなく、切り替える機能はv-onのメソッドで行う。-->
                                </button>
                            </td>
                            
                    
                            <td><button　v-on:click="removeitem(todo)">削除</button></td>
                        </tr>
                    </tbody>  
                </table>
               
            
                
               
        
       
        <p>削除ボタンはコントロールキーを押してください</p>
        <h2>新しい作業の追加</h2>
        <div>
            コメント<input v-model="inputtext">
        <button v-on:click="addTodo">追加</button>
        </div>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="practice.js"></script>
</body>
</html> 