#header {
    background-color: thistle;
    width: 900px;
    height: 80px;
    
   
  
  
}

#side {
    background-color: green;
    width: 280px;
    height: 500px;
}

#main {
    background-color: skyblue;
    width: 620px;
    height: 500px;

    

}

#footer {
    background-color: lightgoldenrodyellow;
    width: 900px;
    height: 60px;
    margin-top: auto;
   
}

.container {
    flex-wrap: wrap;
    display: flex;
    
    
}