<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7/15研修</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
   <!-- データバインディングしたい　何に？　属性 -->
   <a href="googleUrl">{{googleLink}}</a>
   <!-- イベント処理 -->
   <button @click="push()">ボタン</button>
   {{compSample}}


   <!-- trueだったら表示　falseだったら非表示 -->
   <!-- ここの中は比較可能 -->
   <div v-if="gamenshow">ifififififi</div>
   <div v-show="gamenshow">showshowshow</div>

   <!-- jsのifと同じ -->
   <div v-if="message">何か入ってる場合</div>
   <div v-else-if="message = 'ラクス'">ラクスの場合</div>
   <div v-else>それ以外</div>

   <!-- v-for item in items =>中身受け取る　in 配列  -->
   <span v-for="mono in hairetu">
       <span>{{mono}}</span>
   </span>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
   <script src="hukushu.js"></script>
</body>
</html>