<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7月16日研修</title>
</head>
<body>
    <div id="app">
        <div>
            <label>
                <span>名前：</span>
                <input v-model="name">
            </label>
        </div>
        <div>
            <label>
                <span>メールアドレス：</span>
                <input v-model="email">
            </label>
        </div>
        <div>
            <label>
                <span>お問合せ内容:</span>
                <textarea v-model="text" rows="5"></textarea>
            </label>
        </div>
        <div>
            <button @click="submit">送信</button>
        </div>
    </div>

    <div id="ensyu">
        <div>
            <label>
                <span>テキストボックス：</span>
                <input v-model="textbox">
            </label>
        </div>
        <div>
            <label for="checkbox"><input type="checkbox"v-model="checked">{{checked}}</label>
        </div>
        <div>
            <input type="radio" id="sei" value="正" v-model="picked">
            <label for="sei">正</label>
            <input type="radio" id="husei" value="誤" v-model="picked">
            <label for="husei">誤</label>
        </div>
        <div>
            <select v-model="selected">
                <option disabled value="">Please select one</option>
                <option>A</option>
                <option>B</option>
                <option>C</option>
              </select>
        </div>
        <div>
            <select v-model="selected2" multiple>
                <option>A</option>
                <option>B</option>
                <option>C</option>
              </select>

        </div>
        <div>
            <button @click="submit">送信</button>
        </div>
　　　 </div>

<!-- 　　　<div id="lifeS">
       {{message}}
      </div> -->
      <div id="comp">
          <user-list></user-list>
          <user-title></user-title>  <!--グローバルだから入る-->
      </div>
      <div id="comp2">
        <top></top>
        <middle></middle>
        <bottom></bottom>
      </div> 
      <div id="loGo">
          <user-list2></user-list2>
          <user-title2></user-title2> <!--ローカルだから入らない-->
    　</div>
    <div id="pro">
        <user-list3></user-list3>
    </div>
    <div id="mon">
        <from-input></from-input>
    </div>

    

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="script.js"></script>
</body>
</html>