.title{
    text-align: center;


}

.kensaku{
    text-align: center;
}
    
    
#list {
    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
   
}

.container {
    background-color: silver;
    width: 24.5%;
    margin: 1px;
    
    
}
